.banner {
    height: 2.1rem;
}

.banner img {
    width: 100%;
    display: block;
}

.bet_luckynumber {
    margin-bottom: 0.15rem;
    background: #fff;
}

.bet_title {
    position: relative;
    padding: 0.14rem 0;
}

.bet_title .head_right {
    position: absolute;
    right: 0;
}

.bet_title .head_right a {
    background: url(../images/huanyiz.png) left center no-repeat;
    background-size: contain;
    padding-left: 0.26rem;
}

.bet_luckynumber .bet_cont {
    padding: 0.13rem 0;
    -webkit-box-pack: justify;
    justify-content: space-around;
}

.bet_button {
    padding-bottom: 0.1rem;
}

.bet_luckynumber .bet_cont .red {
    border: 1px #ff3d3d solid;
}

.bet_luckynumber .bet_cont .blue {
    border: 1px #3d98ff solid;
}

.bet_cont .lucky_number {
    width: 0.38rem;
    height: 0.38rem;
    text-align: center;
    line-height: 0.38rem;
}

.bet_button .bet_submit {
    display: inline-block;
    width: 1.04rem;
    height: 0.25rem;
    background: #ff3b3b;
    color: #fff;
    line-height: 0.25rem;
    border-radius: 0.03rem;
}

.type_content {
    background: #fff;
}

.item_menu {
    padding: 0.15rem 0;
}

.item_menu .item {
    width: 25%;
}

.item_menu .item img {
    display: block;
    width: 0.5rem;
    height: auto;
    margin: auto auto 0.09rem auto;
}

.error_prompt {
    height: 0.9rem;
    line-height: 0.9rem;
    width: 1.99rem;
    max-width: 800px;
    color: #fff;
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: calc(50% - 0.45rem);
    left: calc(50% - 0.9rem);
    border-radius: 0.05rem;
}
