*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
dl,
dt,
dd,
ul,
ol,
li,
a,
div,
em,
span,
img,
form,
input,
p,
i {
    padding: 0;
    margin: 0;
    border: none;
}

em,
i,
cite {
    word-wrap: break-word;
    font-style: normal;
}

ul,
li {
    list-style: none;
}

a,
a:visited,
a:active {
    color: #3C3C3C;
    text-decoration: none;
}

a,
button,
span,
i,
div,
h2,
aside {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input:focus::-webkit-input-placeholder {
    color: #b7b7b7;
}

input::-webkit-input-placeholder {
    color: #ccc;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
    display: block;
    margin: 0;
    padding: 0;
}

html,
body,
.contener {
    width: 100%;
    height: 100%;
    max-width: 800px;
    overflow: hidden;
    margin: 0 auto;
}

html {
    font-size: 100px;
}

input,
button,
textarea {
    border: none;
    /*-webkit-appearance: none;*/
    -moz-appearance: none;
    -webkit-border-image: none;
    border-image: none;
    -webkit-border-radius: 0;
    border-radius: 0;
}

input:focus,
textarea:focus {
    outline: 0 none;
}

.clear:after {
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
    visibility: hidden;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

body {
    font-family: "microsoft yahei", simhei;
    font-size: 0.12rem;
    position: relative;
    background: #f2f2f2;
}

.body_overflow {
    position: absolute;
    top: 0.44rem;
    bottom: 0.5rem;
    overflow-y: auto;
    width: 100%;
    height: 100%;
}

.overflow {
    position: absolute;
    top: 0.44rem;
    bottom: 0;
    overflow-y: auto;
    width: 100%;
}

.heading {
    height: 0.44rem;
    line-height: 0.44rem;
    background: #ef3726;
    font-size: 0.18rem;
    color: #fff;
    position: absolute;
    top: 0;
    width: 100%;
    max-width: 800px;
    z-index: 9999;
}

.back {
    position: absolute;
    left: 0.15rem;
}

.back a {
    background: url(../images/fanhui.png) no-repeat;
    width: 0.11rem;
    height: 0.19rem;
    background-size: contain;
    display: inline-block;
    vertical-align: middle;
}

.title {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
}

.title_right {
    position: absolute;
    right: 0.15rem;
}

.foot_menu {
    background: #fff;
    border-top: 1px #ccc solid;
    position: absolute;
    z-index: 9999;
    bottom: 0;
    width: 100%;
    max-width: 800px;
}

.item_pading {
    padding: 0.06rem 0;
}

.foot_menu>a {
    display: block;
    width: 33.3%;
    text-align: center
}

.lottery_hall .img {
    background: url(../images/dating.png) center no-repeat;
    background-size: contain;
}

.draw_notice .img {
    background: url(../images/gonggao.png) center no-repeat;
    background-size: contain;
}

.my_lottery .img {
    background: url(../images/wode.png) center no-repeat;
    background-size: contain;
}

.lottery_menu {
    height: 0.18rem;
    width: 0.205rem;
    margin: auto auto 0.04rem auto;
}

.lottery_hall.active .img {
    background: url(../images/datingactive.png) top center no-repeat;
    background-size: contain;
}

.draw_notice.active .img {
    background: url(../images/gonggaoactive.png) top center no-repeat;
    background-size: contain;
}

.my_lottery.active .img {
    background: url(../images/wodeactive.png) top center no-repeat;
    background-size: contain;
}

.foot_menu .active p {
    color: #ef3726;
}

.color-3C3C3C {
    color: #3C3C3C !important
}

.no-bgimg,
.no-bgimg li {
    background-image: none !important;
}

.ballsize {
    width: 0.38rem;
    height: 0.38rem;
    text-align: center;
    line-height: 0.38rem;
}

.ballslips {
    width: 0.28rem;
    height: 0.28rem;
    text-align: center;
    line-height: 0.28rem;
}

.cont_padding {
    padding: 0 0.15rem;
}

.size_14 {
    font-size: 0.14rem;
}

.size_16 {
    font-size: 0.16rem;
}

.size_18 {
    font-size: 0.18rem;
}

.size_28 {
    font-size: 0.28rem;
}

.flex {
    display: -webkit-box;
    /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
    display: -moz-box;
    /* 老版本语法: Firefox (buggy) */
    display: -ms-flexbox;
    /* 混合版本语法: IE 10 */
    display: -webkit-flex;
    /* 新版本语法: Chrome 21+ */
    display: flex;
    /*-webkit-box-pack: justify;
    justify-content:space-around;*/
}

.typecolor {
    color: #282828;
}

.typehot {
    color: #989898;
}

.menucolor {
    color: #686868;
}

.auto_clear {
    margin-right: 0.05rem;
    border-radius: 100%;
}

.numberborder {
    border-radius: 100%;
}

.whitebg {
    background: #fff;
}

.white {
    color: #ffffff;
}

.deepred {
    background: #ff3b3b;
    color: #fff;
    border: 1px #ff3b3b solid !important;
}

.deepred_bg {
    background: #ff3b3b;
}

.deepblue {
    background: #3b97ff;
    color: #fff;
    border: 1px #3b97ff solid !important;
}

.deepblue_bg {
    background: #3b97ff;
}

.red {
    color: #ff3b3b;
}

.redbg {
    background: #fff0f0;
}

.numberred {
    color: #ef3726;
}

.blue {
    color: #3b97ff;
}

.bluebg {
    background: #f0f7ff;
}

.margin_none {
    margin: 0 !important;
}

.border_none {
    border: none !important;
}

.lineheight {
    line-height: 2.2;
}

.lineht {
    line-height: 0.58rem;
}

.itemborder {
    border-bottom: 1px #cccccc solid;
}

.slipsborder {
    border-bottom: 1px #cccccc dashed;
}

.border_top {
    border-top: 1px #cccccc solid;
}

.border_right {
    border-right: 1px #cccccc solid;
}

.border_left {
    border-left: 1px #cccccc solid;
}

.active>a {
    color: #ef3726;
    border-bottom: 0.02rem #ef3726 solid;
}

.type_logo {
    width: 0.55rem;
    height: auto;
}

.type_logo img {
    width: 100%;
}

.information_list .information a {
    padding: 0.13rem 0;
    position: relative;
    width: 100%;
}

.information_bg {
    width: 0.09rem;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
}

.information_bg img {
    width: 100%;
    display: block;
}

.margleft {
    margin-left: 0.15rem;
}

.margbottom {
    margin-bottom: 0.13rem;
}

.pading {
    padding: 0.1rem 0;
}

.bomb_box {
    position: absolute;
    z-index: 999999999;
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.box_content {
    position: absolute;
    top: calc(50% - 1.24rem);
    border-radius: 0.03rem;
    background: #fff;
    left: 0.15rem;
    right: 0.15rem;
}

.bomb_box .close {
    text-align: right;
    padding: 0.15rem 0.15rem 0.03rem 0;
}

.bomb_box .close a {
    background: url(../images/close.png) center no-repeat;
    display: inline-block;
    height: 0.12rem;
    width: 0.12rem;
    background-size: contain;
}

.bomb_box .box {
    text-align: center;
    padding: 0 0.3rem 0.3rem 0.3rem;
}

.continue_bet {
    background: #ef3726;
    color: #fff !important;
    border: none;
    height: 0.5rem;
    line-height: 0.5rem;
    width: 100%;
    display: block;
    border-radius: 0.08rem;
}

.topmarg {
    position: absolute;
    top: 0.44rem;
    width: 100%;
}

.botoom_0 {
    bottom: 0 !important;
}

.contener {
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    background: #f2f2f2;
}

.scroll-content {
    position: absolute;
    top: 0.44rem;
    bottom: 0.5rem;
    left: 0;
    right: 0;
    z-index: 1;
    display: block;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    will-change: scroll-position;
}

.tabs {
    position: absolute;
    top: 0.44rem;
    bottom: 0;
    overflow-y: hidden;
    width: 100%;
}

.scroll-tab {
    top: 0.48rem;
    bottom: 0.5rem;
    position: absolute;
    right: 0;
    left: 0;
    z-index: 1;
    display: block;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    will-change: scroll-position;
}
