.record_select {
    height: 0.4rem;
    border-bottom: 1px solid #CCCCCC;
    width: 100%;
    position: fixed;
    top: 0.44rem;
}

.record_select ul {
    width: 100%;
    height: 0.4rem;
    max-width: 800px;
}

.record_select ul li {
    width: 25%;
    height: 0.4rem;
    line-height: 0.4rem;
    line-height: 0.4rem;
    text-align: center;
    float: left;
    font-size: 0.16rem;
    color: #989898;
    font-family: "microsoft yahei", simhei;
}

.record_select ul li a {
    padding-bottom: 0.1rem;
}

.record_select ul li span {
    display: inline-block;
    height: 0.4rem;
}

.record_select ul li.active span {
    color: #ef3726;
    border-bottom: 2px solid #ef3726;
}

.notice_menu {
    border-bottom: 1px #cecece solid;
    padding-bottom: 0.09rem;
    padding-top: 0.125rem;
    background: #fff;
}

.notice_menu li {
    width: 33.3%;
    text-align: center;
}

.information_list {
    background: #fff;
}

.information_list li {
    background: url(../images/youjiant.png) no-repeat right center;
    background-size: 0.09rem;
}

.information_list p {
    text-align: left;
}

.tyle_information {
    position: relative;
}

.tyle_information .bet_cont {
    -webkit-box-pack: justify;
    justify-content: space-around;
    -webkit-justify-content: space-around;
}

.tyle_information img {
    width: 0.55rem;
}

.tyle_information div.content_info {
    position: absolute;
    left: 0.7rem;
    top: 0;
    height: 0.55rem;
    width: 2.5rem;
    margin-top: 0.13rem;
    padding-top: 0.06rem;
}

.tyle_information div.content_info .content_top {
    height: 0.18rem;
}

.tyle_information div.content_info .content_bottom {
    height: 0.18rem;
    margin-top: 0.1rem;
}

.tyle_information div.content_info .content_top p {
    color: #333333;
    font-size: 0.15rem;
}

.tyle_information div.content_info .content_bottom p {
    color: #989898;
    font-size: 0.13rem;
}

.tyle_information p span:nth-child(2) {
    margin-right: 0.06rem;
}
